<script src="http://127.0.0.1:5500/public/assets/js/jquery.min.js"></script>
<script src="http://127.0.0.1:5500/public/assets/js/browser.min.js"></script>
<script src="http://127.0.0.1:5500/public/assets/js/breakpoints.min.js"></script>
<script src="http://127.0.0.1:5500/public/assets/js/util.js"></script>
<script src="http://127.0.0.1:5500/public/assets/js/main.js"></script>
<script src="http://127.0.0.1:5500/public/assets/js/nunjucks.js"></script>
<!-- <script src="http://127.0.0.1:5500/public/assets/js/nanogallery2.js"></script> -->
<script  type="text/javascript" src="https://unpkg.com/nanogallery2@2.4.2/dist/jquery.nanogallery2.min.js"></script>

<script>
    function goBack() {
      window.history.back();
    }
</script>