<div id="sidebar">
    <div class="inner">

        <!-- Search -->
            <section id="search" class="alt">
                <form method="post" action="#">
                    <input type="text" name="query" id="query" placeholder="Search" />
                </form>
            </section>

        <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="index.html">Homepage</a></li>
                    <li><a href="generic.html">Generic</a></li>
                    <li><a href="elements.html">Elements</a></li>
                    <li>
                        <span class="opener">Submenu</span>
                        <ul>
                            <li><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                            <li><a href="#">Item 4</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        <!-- Section -->
            <section>
                <header class="major">
                    <h2>Heading 2</h2>
                </header>
                <div class="mini-posts">
                    <article>
                        <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
                        <p>placeholder text going here for now friends.</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
                        <p>placeholder text going here for now friends.</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
                        <p>placeholder text going here for now friends.</p>
                    </article>
                </div>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </section>

        <!-- Section -->
            <section>
                <header class="major">
                    <h2>Get in touch</h2>
                </header>
                <p>Free free to shoot me and email or text if you need any work done or would like to just chat! You can also reach out to me by filling out <a class="custom-link" href="#"></a>this form</a></p>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="#">clwilliams4545@gmail.com</a></li>
                    <li class="icon solid fa-phone">(501) 304-4100</li>
                    <li class="icon solid fa-home">1975 N Highway 171<br />
                    Malvern, AR 72104</li>
                </ul>
            </section>
        <footer id="footer">
            <p class="copyright">&copy; Colton's Apps. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

    </div>
</div>