<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <!-- <div id="header"></div> -->
    {% include "./partials/head.html" %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

                            <!-- Header -->
                            {% include "./partials/header-socialLinks.html" %}

                            <section>
                            <!-- Form -->
                            <h2>Contact Me</h2>

                            <p>I'm interested in hearing about full-time opportunities in Software Development, DevOps, and AI Engineering, as well as consulting engagements and technical collaborations. Please share some details about your organization and the opportunity, and I'll respond within 24 hours.</p>

                            <form method="post" action="https://formspree.io/mlewgazv">
                                <div class="row gtr-uniform">
                                    <div class="col-6 col-12-xsmall">
                                        <input type="text" name="Name" id="demo-name" value="" placeholder="Name" />
                                    </div>
                                    <div class="col-6 col-12-xsmall">
                                        <input type="email" name="Email" id="demo-email" value="" placeholder="Email" />
                                    </div>
                                    <!-- Break -->
                                    <div class="col-12">
                                        <textarea name="Message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                                    </div>

                                    <!-- recapchya -->
                                    <div class="g-recaptcha" data-sitekey="6LdWem8pAAAAAF9G97nfRRuvBIcXZJFTM13j_LQ7"></div>
                                    
                                    <!-- Break -->
                                    <div class="col-12">
                                        <ul class="actions">
                                            <li><input type="submit" value="Send Message" class="primary" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>

                        </section>

						</div>
					</div>

                    <!-- Sidebar & Footer -->
                    {% include "./partials/sidebar-footer.html" %}
			</div>

        <!-- Scripts -->
        {% include "./partials/scripts.html" %}
	</body>
</html>