<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include "./partials/head.html" %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                {% include "./partials/header-socialLinks.html" %}

                <section>

                    <header class="main">
                        <h1>Video Games I made!!</h1>
                    </header>
                    
                    <!-- Industry Projects -->
                    <section id="idustry">
                        <header class="major">
                            <h2>ChatGPT generated Canvas HTML Games</h2>
                        </header>
                        <div class="posts">
                            <article>
                                <a href="video-games/pacman-bro-bro.html" target="_blank" class="image"><img src="images/video-games/pacman-bro-bro.png" alt="" /></a>
                                <h3>Pacman! Bro Bro</h3>
                                <p>Hold down or press the array keys to move. Get to the Green Flag to beat the level. Avoid bombs! The higher the level... the harder it gets.</p>
                                <ul class="actions block">
                                    <li><a href="video-games/pacman-bro-bro.html" target="_blank" button>Open the Game now!</a></li><br>
                                </ul>
                            </article>
                        </div>
                    </section>

                </section>

            </div>
        </div>

        <!-- Sidebar & Footer -->
        {% include "./partials/sidebar-footer.html" %}
    </div>

    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>