<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    {% include "../../public/partials/head.html" %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

                            <!-- Header -->
                            {% include "../../public/partials/header-socialLinks.html" %}

							<section>

                                <header class="main">
                                    <h1>Portfolio</h1>
                                </header>

                                <!-- <span class="image main"><img src="images/portfolioCover.jpg" alt="" /></span> -->
                                <ul>
                                    <li><a href="#idustry">Industry projects</a></li>
                                    <li><a href="#ios-android">iOS / Android</a></li>
                                    <li><a href="#personal">Peronsal / Small Projects</a></li>
                                </ul>
                                <!-- Industry Projects -->
								<section id="idustry">
									<header class="major">
										<h2>Industry Projects</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
											<h3>Arkansas House of Representatives</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions block">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
											<h3>Arkansas Bride</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions block">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
											<h3>Fish 'N Stuff</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions block">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3>Seaark Boats</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions block">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
									</div>
                                </section>

                                <hr style="margin-top: 100px;">

                                <!-- iOS / Android  Projects -->
								<section id="ios-android">
									<header class="major">
										<h2>iOS / Android Projects</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
											<h3>Hank's Fine Furniture (iOS & Android) </h3>
                                            <p>Used a tool called <a href="https://www.goodbarber.com/" target="_blank">GoodBarber</a>  
                                               to make most of the app, and then had to custom code a couple of pages. The goodbarber platform made getting the application on the App Store and Google Play
                                               store a seemless process.</p>
											<ul class="actions block">
												<li><a href="portfolio/hanks-mobile-app.html" class="button">More Details on the project</a></li><br>
												<li><a href="https://apps.apple.com/us/app/hanks-fine-furniture/id1486148092" target="_blank" class="btn-blue">Go To Hank's Mobile App</a></li>
											</ul>
                                        </article>
                                    </div>
                                </section>
                                
                                <hr style="margin-top: 100px;">
                                
                                <!-- Personal Projects -->
								<section id="personal">
									<header class="major">
										<h2 style="margin-top: 1.75em;">Personal Projects</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
											<h3>Interdum aenean</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions block">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
											<h3>Nulla amet dolore</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions block">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
											<h3>Tempus ullamcorper</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions block">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3>Sed etiam facilis</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions block">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3>Feugiat lorem aenean</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions block">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
											<h3>Amet varius aliquam</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions block">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
									</div>
								</section>

                            </section>

						</div>
					</div>

                    <!-- Sidebar & Footer -->
                    {% include "../../public/partials/sidebar-footer.html" %}
			</div>

        <!-- Scripts -->
        {% include "../../public/partials/scripts.html" %}
	</body>
</html>