<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include "./partials/headPortfolioDetail.html" %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <div class="inner">

                <!-- Header -->
                {% include "./partials/header-socialLinks.html" %}

                <!-- Content -->
                <!-- Back button -->
                <a href="../portfolio.html" class="button" style="margin-top: 35px;"><i class="fas fa-chevron-left"></i> Back to portfolio</a>
                <section>
                    <header class="main">
                        <h1>MontanaTags.com</h1>
                    </header>
                    <span class="image main"><img src="../images/portfolio/montana-tags/responsive-showcase-mockup.png" alt="" /></span>

                    <h2>About MontanaTags</h2>
                    <p>Across the entire US, MontanaTags.com eliminates sales tax and personal property tax on your vehicle or Vessel with our online registration service. Experience Montana's freedoms, bringing 100% tax savings to you!</p>

                    <hr class="major" />

                    <h2>About The Project</h2>
                    <!-- About us page of company here -->
                    <p><strong>Mission:</strong> The company wanted to invest into marketing but the current website was out of date. My friend who landed the marketing contract contracted with me to help him rebuild the site on Shopify with a more modern design.</p>
                    <p><strong>Technologies Used:</strong> Shopify CMS and Shopify Liquid</p>
                    <p><strong>Links</strong>
                        <ul style="margin-left: 28px; margin-top: -20px;">
                            <li style="padding-bottom: 7px;"><a href="https://www.shopify.com/" target="_blank">Shopify</a></li>
                            <li style="padding-bottom: 7px;"><a href="https://shopify.dev/docs/api/liquid" target="_blank">Shopify Liquid</a></li>
                        </ul>
                    </p>

                    <h2>Summary</h2>
                    <!-- My testimonial here -->
                    <p>My friend Todd reached out to me for help on this project because the client specifically requested that the new site be built on Shopify and Todd
                        normally only builds Wordpress sites at his company. I was not entirely new to Shopify, but knew that I could handle the project and accepted it.
                        I was able to deliver the new site on time and the client was very happy with it.<br><br>
                    </p>

                </section>
            </div>
        </div>

        <!-- Sidebar & Footer -->
        {% include "./partials/sidebar-footer.html" %}

    </div>

    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>